{
	"presets": [
		"react",
		[
			"env",
			{
				"targets": {
					"electron": "1.7.9"
				}
			}
		]
	],
	"plugins": [
		"transform-object-rest-spread",
		"transform-class-properties",
		"transform-decorators-legacy"
	]
}
