@font-face {
	font-family: "Raleway";
	src: url("./raleway-regular.eot");
	src: url("./raleway-regular.eot?#iefix") format("embedded-opentype"),
		url("./raleway-regular.woff") format("woff"),
		url("./raleway-regular.ttf") format("truetype"),
		url("./raleway-regular.svg#ralewayregular") format("svg");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: "Raleway";
	src: url("./raleway-medium.eot");
	src: url("./raleway-medium.eot?#iefix") format("embedded-opentype"),
		url("./raleway-medium.woff") format("woff"),
		url("./raleway-medium.ttf") format("truetype"),
		url("./raleway-medium.svg#ralewaymedium") format("svg");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: "Raleway";
	src: url("./raleway-bold.eot");
	src: url("./raleway-bold.eot?#iefix") format("embedded-opentype"),
		url("./raleway-bold.woff") format("woff"),
		url("./raleway-bold.ttf") format("truetype"),
		url("./raleway-bold.svg#ralewaybold") format("svg");
	font-weight: 700;
	font-style: normal;
}
